#signup {
    margin-left: auto;
    margin-right: 10px;
    background-color: #1e1e1e;
    border-radius: 20px;
}

#signup:hover {
    font-weight: bold;
}


#login {
    margin-right: 10px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

#login:hover {
    background-color: rgb(243, 243, 243);
}