#control {
    display: flex;
    justify-content: center;
}

#play_button {
    height: 35px;
    width: 35px;
    border-radius: 100%;
    background-color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}

/* #play_button:hover #icon {
    font-size: 18px;
} */

#icon {
    color: black;
    size: 50;
}

#icon:hover {
    color: rgb(18, 18, 18);
}

#play_button:hover {
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.559);
}

#play_button:active {
    background-color: rgb(238, 238, 238);
    box-shadow: 0px 0px 7px rgba(255, 255, 255, 0.559);
}

.prev_next_icon {
    color: rgb(215, 215, 215);
    cursor: pointer;
    font-size: 29px;
}

.prev_next_icon:hover {
    color: white;
    size: 40;
}

#heart-icon-no-like {
    cursor: pointer;
    font-size: 23px;
    padding-left: 15px;
}

#heart-icon-like {
    cursor: pointer;
    color: red;
    font-size: 23px;
    padding-left: 15px;
}

#plalist-add {
    font-size: 25px;
    padding-right: 15px;
    cursor: pointer;
}